{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react",

    ],
    "plugins": [
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ],
        "transform-decorators-legacy",
        "transform-class-properties",
        "external-helpers"
    ]
}
