* text=auto eol=lf

*.gitattributes text
.gitignore text

LICENSE text

*.js text
*.jsx text
*.cjs text
*.mjs text

*.ts text
*.tsx text
*.cts text
*.mts text

*.md text diff=markdown

*.sh diff=bash

*.json text

*.css text diff=css
*.html text diff=html
*.svg text diff=html

*.ico binary
*.png binary
