html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

body {
    font-family: "Open Sans", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    min-width: 200px;
    max-width: 500px;
    text-align: center;
}

#progress {
    /*width: 0%;*/
    height: 5px;
    /*background-color: #0000ff;*/
    /*back*/
}

.donate kbd {
    display: inline-block;
    color: #555;
    vertical-align: middle;
    padding: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    box-shadow: inset 0 -1px 0 #bbb;
    font-family: Helvetica, Verdana, sans-serif;
}
