{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "webextensions": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "plugin:react/recommended"
  ]
}
